@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #FFE1E0;
}

main, .box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 15px;
    font-size: 250%;
    height: fit-content;
    text-align: center;
    color: #7F55B1;
}

h2{
    margin-top: 30px;
    color: #9d88b2;
}

/* buttons */

.btn{
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #F49BAB;
    margin: 5px;
    box-shadow: 0 5px #a08bb9;
    font-size: 20px;
    color: #7F55B1
}

    .btn:hover{
        cursor: pointer;
        background-color: #f07c91;
    }

    .btn:active{
        box-shadow: 0 2px #7F55B1;
        transform: translateY(3px);
    }

.btn-back-next{
    margin-top: 20px;
}

.hidden{
    display: none;
}

.extra{
    margin-top: 20px;
}

/* inputs */
input{
    margin: 50px auto 30px;
    font-size: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 15px;
}

input:focus{
    border-color: #f07c91;
    box-shadow: 0 0 5px rgba(240, 124, 145, 0.6);
}

/* img */
img {
    width: 400px;
    cursor: pointer;
    transition: 0.3s;
}

img:fullscreen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    margin-top: 15px;
    color: #4f1189;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

a:hover, a:active{
    color: #2f0a52;
}

small{
    color: #7F55B1;
}

video{
    width: 60%;
}